[Unit]
Description=start country
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/sbin
ExecStart=/bin/bash /usr/sbin/startup_setcountry.sh
Restart=always

[Install]
WantedBy=multi-user.target

